# Ignore local env files
.env.local

# Ignore node_modules folder
node_modules

# Optional additional ignores

# Ignore npm lock file
package-lock.json

# Ignore Mac system files
.DS_Store

# Ignore build output
dist
build

# Ignore log files
npm-debug.log*

# Ignore IDE project files
.idea
*.iml
